*.exe
*.o
*.s
*.a
*_test
*_main
*.tree
.idea/
.vscode/
gdb.txt
obj/
bin/
Makefile
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
build/
Makefile/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json
galaxy
